.hurricane-regular {
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-style: normal;
  }


.league-spartan{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  
  /* Título principal da seção */
  #h1 {
    margin-top: 80px;
    font-size: 90px;
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: #425010;
  }
  
  /* Subtítulo da seção */
  #h2 {
    margin-top: -75px;
    font-size: 80px;
    text-align: left;
    font-family: "Hurricane", cursive;
    margin-left: 255px;
    color: #425010;
  }
  
  #titulo {
    margin-left: 100px;
  }
  
  #tituloProdutos {
    margin-top: 50px;
    font-size: 60px;
    text-align: left;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #65680F;
    text-align: center;
  }
  
  /* Container da introdução */
  #container {
    width: 90%;
    max-width: 1200px;
    background-color: #F7F0CE;
    position: relative;
    z-index: 0;
    text-align: center;
    margin: 10px auto;
    border-radius: 45px;
    padding: 40px 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }


  #containerFooter{
    background-color: #C8D69B;
    width: 100%;
    height: 100px;
  }

  #tituloCards {
    text-align: center;
    color: #425010;
  }
  
  #containerProdutos {
    width: 90%;
    max-width: 1200px;
    background-color: #C8D69B;
    position: relative;
    overflow: hidden;
    z-index: 0;
    text-align: center;
    margin: 100px auto;
    height: 700px;
    border-radius: 45px;
    padding: 40px 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  /* Logo da feira */
  #imgLogo {
    width: 100px;
    height: 100px;
    margin-left: -170px;
    display: block;
  }
  
  /* Parágrafo introdutório */
  #p1 {
    margin-top: -375px;
    font-size: 18px;
    color: #000000;
    width: 90%;
    max-width: 550px;
    margin-left: 100px;
    text-align: justify;
    position: absolute;
  }
  
  /* Imagem da feira */
  #imgFeira {
    width: 90%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: 380px;
    position:relative;
  }
  
  #p2 {
    margin-top: -320px;
    font-size: 18px;
    color: #000000;
    width: 90%;
    max-width: 500px;
    margin-left: 1010px;
    text-align: justify;
    position: absolute;
  }
  
  /* Subtítulo da segunda seção */
  #sub1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    color: #425010;
    font-family: "Bacasime Antique", serif;
  }

  #tituloCards {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
    color: #1f2507;
    font-family: "Bacasime Antique", serif;
  }
  
  #imgCelular {
    margin-left: 750px;
    margin-top: -150px;
    width: 400px;
    height: auto;
    border-radius: 20px;
    transform: rotate(8deg); /* Rotaciona a imagem 90 graus */
    margin-bottom: -100px;
  }
  
  nav {
    margin-right: 200px;
  }
  
  nav a {
    margin-right: 80px;
  }

  
  .produtos,
  .produtos2 {
    position: absolute;
    left: 0;
    width: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
  }
  
  .produtos {
    top: 270px;
    animation: deslizar 30s linear infinite;
  }
  
  .produtos2 {
    top: 420px; /* afasta da primeira linha (ajuste conforme necessário) */
    animation: deslizarReverso 30s linear infinite;
  }
  
  .produtos img,
  .produtos2 img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
  }
  
  .pessoa {
    position: absolute;
    z-index: 2;
    width: 400px;
    display: block;
    height: 400px;
    margin-left: 375px;
    margin-top: 162px;

  }
  
  /* Animação para carrossel normal */
  @keyframes deslizar {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Animação reversa para o carrossel de baixo */
  @keyframes deslizarReverso {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card {
    width: 500px;
    height: 600px;
    perspective: 1000px;
    background-color: #F7F0CE;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .card-front img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 80px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .card-front h1 {
    position: relative;
    text-align: center;
    color: #425010;
    font-size: 40px;
    top: 20px;
   
  }
  
  .card-back {
    background-color: #425010;
    color: #F7F0CE;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .card-text {
    font-size: 20px;
    margin-top: 20px;
    color: #F7F0CE;
  }