<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM8d7x1z5l5e5b5e5e5e5e5e5e5e5e5e5e5e" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <!-- Lado esquerdo -->
    <div class="image-side">
      <a href="{{ url_for('homeVend') }}" class="btn_voltar">
        <img src="{{url_for('static', filename='imgs/botaoVoltar.png')}}" alt="botão voltar">
      </a>
      <img src="{{ url_for('static', filename='imgs/ImgFundoCadastro.png') }}" alt="Imagem de frutas"
        class="background-img" />
      <div class="curve-shape">
        <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
      </div>
      <div class="curve-shape2">
        <a href="{{ url_for('login') }}">Login</a>
      </div>
    </div>

    <!-- Lado direito -->
    <div class="login-box">
      <div class="right-content">
        <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo da Feira à Mão" class="imgLogo" />
        <div class="toggle-container" id="toggle">
          <div class="toggle-circle"></div>
          <div class="toggle-text toggle-text-left">CPF</div>
          <div class="toggle-text toggle-text-right">CNPJ</div>
        </div>

        <script>
          const toggle = document.getElementById('toggle');

          toggle.addEventListener('click', () => {
            toggle.classList.toggle('active');
            if (toggle.classList.contains('active')) {
              console.log("CNPJ selecionado");
            } else {
              console.log("CPF selecionado");
            }
          });
        </script>
        <form class="login-form" method="POST" action="/cadastroVend">
          <h2>Crie sua conta</h2>
          <p>Preencha os dados abaixo para se cadastrar</p>

          <input name="nome" placeholder="Nome completo" />
          <input type="tel" name="telefone" placeholder="Telefone" />
          <input type="email" name="email" placeholder="Email" />
          <input type="text" name="endereco" placeholder="Endereço" />
          <input type="date" name="nascimento" placeholder="Data de nascimento" />
          <input type="text" name="cpf" placeholder="CPF" />
          <input type="password" name="senha" placeholder="Senha" />
          <button type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>