<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Encomendas</title>
   <link rel="icon" type="image/png" href="static/imgs/logo.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/encomendasCli.css') }}">
</head>
<body>

  <!-- Header -->
  <header class="header">
    <h1><img src="{{url_for('static', filename='imgs/imgCarrinho.png')}}" id="imgCarrinho">Minhas Encomendas</h1>
  </header>

  <!-- Encomendas -->
  <main class="container">

    <!-- Card 1 -->
    <section class="card encomenda">
      <div class="encomenda-info">
        <h3>Encomenda #12345</h3>
        <p><strong>Status:</strong> <span class="status enviada">Enviada</span></p>
        <p><strong>Produtos:</strong> Bala de banana, Pão Caseiro</p>
      </div>
      <button class="btn">Detalhes</button>
    </section>

    <!-- Card 2 -->
    <section class="card encomenda">
      <div class="encomenda-info">
        <h3>Encomenda #12346</h3>
        <p><strong>Status:</strong> <span class="status preparacao">Em preparação</span></p>
        <p><strong>Produtos:</strong> Bolsa de Palha</p>
      </div>
      <button class="btn">Detalhes</button>
    </section>

    <!-- Card 3 -->
    <section class="card encomenda">
      <div class="encomenda-info">
        <h3>Encomenda #12347</h3>
        <p><strong>Status:</strong> <span class="status entregue">Entregue</span></p>
        <p><strong>Produtos:</strong> Pão Caseiro 1kg</p>
      </div>
      <button class="btn">Detalhes</button>
    </section>

  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 Seu Site | Todos os direitos reservados</p>
  </footer>

</body>
</html>
