<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='imgs/css/login.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM8d7x1z5l5e5b5e5e5e5e5e5e5e5e5e5e5e" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM8d7x1z5l5e5b5e5e5e5e5e5e5e5e5e5e5e" crossorigin="anonymous" />
</head>
<body>
  <div class="container">

    <div class="image-side">
      <img src="{{ url_for('static', filename='imgs/ImgLoginFundo.png') }}" alt="Feira com vegetais">
    </div>

    <div class="login-box">
      <div class="login-form">
        <h2>Bem-Vindo de volta</h2>
        <p>Please enter your details.</p>

        <input type="email" placeholder="Enter your e-mail" />
        <input type="password" placeholder="Password" />

        <button>Log in</button>
        <p>Não possui uma conta? <a href="#">Cadastre-se</a></p>
      </div>
    </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
